*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 6px;
  background-color: #1158AD;
}
::-webkit-scrollbar-thumb{
  background-color: yellow;
}
::-webkit-scrollbar-button{
  background-color: green;
}